html, body {
  margin: 0;
}

nav {
  padding: 24px;
  background-color: indigo;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 16px;
}

nav a {
  color: #fff;
}